<noscript><p>This site works better if you enable Javascript</p></noscript>
</body>
  <!-- build:js assets/scripts/main.js -->
  <script src="assets/scripts/main.js"></script>
  <!-- endbuild -->
</html>