* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
